body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Help class */

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.map {
    position: relative;
    height: 450px;
    width: 100%;
}

.mh-150 {
    max-height: 150px;
}

.mh-700 {
    max-height: 700px;
}

.min-w-15 {
    min-width: 15px;
}

.btn-map {
  position: absolute;
  z-index: 10;
  margin-left: 220px;
  margin-top: 15px;
}

.error-map {
  position: absolute;
  display: block;
  z-index: 10;
  margin-left: 50px;
  margin-top: 400px;
  font-size: 15px;
  font-weight: bold;
  color: #FC0000;
  text-shadow: 
    -0   -4px 0   #FFFFFF,
     0   -4px 0   #FFFFFF,
    -0    4px 0   #FFFFFF,
     0    4px 0   #FFFFFF,
    -4px -0   0   #FFFFFF,
     4px -0   0   #FFFFFF,
    -4px  0   0   #FFFFFF,
     4px  0   0   #FFFFFF,
    -1px -4px 0   #FFFFFF,
     1px -4px 0   #FFFFFF,
    -1px  4px 0   #FFFFFF,
     1px  4px 0   #FFFFFF,
    -4px -1px 0   #FFFFFF,
     4px -1px 0   #FFFFFF,
    -4px  1px 0   #FFFFFF,
     4px  1px 0   #FFFFFF,
    -2px -4px 0   #FFFFFF,
     2px -4px 0   #FFFFFF,
    -2px  4px 0   #FFFFFF,
     2px  4px 0   #FFFFFF,
    -4px -2px 0   #FFFFFF,
     4px -2px 0   #FFFFFF,
    -4px  2px 0   #FFFFFF,
     4px  2px 0   #FFFFFF,
    -3px -4px 0   #FFFFFF,
     3px -4px 0   #FFFFFF,
    -3px  4px 0   #FFFFFF,
     3px  4px 0   #FFFFFF,
    -4px -3px 0   #FFFFFF,
     4px -3px 0   #FFFFFF,
    -4px  3px 0   #FFFFFF,
     4px  3px 0   #FFFFFF,
    -4px -4px 0   #FFFFFF,
     4px -4px 0   #FFFFFF,
    -4px  4px 0   #FFFFFF,
     4px  4px 0   #FFFFFF,
    -4px -4px 0   #FFFFFF,
     4px -4px 0   #FFFFFF,
    -4px  4px 0   #FFFFFF,
     4px  4px 0   #FFFFFF;
}

@media screen and (max-width: 1000px) {
  .btn-map {
    margin-left: 12px;
    margin-top: 60px;
  }
}